<!DOCTYPE html>
<html>
  <head>
    <title>IronChef</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <div id="background-photo"></div>
    <div class="container might-be-interested">
      <div class="row">
        <h3 class="center-sugg">Our subscription boxes you might be intersted in</h3>
        <div class="user-interest col-sm-4 col-xs-12"><% validSubs.forEach((validSubs) => { %>

        <a href="/subscription/<%= validSubs._id %>"><h4 class="sub-title"><%= validSubs.title %></a>
          <p class="subscription-description"><%= validSubs.description %></p>
        </div>
      </div>
    </div>
            <% }); %>

  </body>
</html>
