*{
  font-family: 'Poppins', sans-serif;


}

body {
  background-color: #D7CEC7;
  padding: 50px;

}


nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
  margin-bottom: 4%;
  background-color: white;
  padding-bottom: 0%;

}

.nav > li > a {
  color: black;
}

.nav > li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -87px;
}

.logo-image {
  height: 17%;
  width: 17%;
  margin-left: 4%;
  padding-bottom: 2%;
}

.nav > .li-logout {
  padding: 7px;
}


.sub-now{
  padding-top: 10%;

}
.sub-show{

  margin-top: 2%;
  padding-bottom: 2%;
  border: 1px solid white;
}
.might-be-interested{
  padding-top: 10%;
  padding-bottom: 10%;

}
.center-sugg {
  font-size: 48px;
}

.sub-title{
  font-size: 30px;
  color: #76323F;
}
.user-interest{


}

a {
  text-decoration: none;
  position: relative;
  color: black;
}
a:after {
  color: black;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #909090;
  transition: 0.4s;
}

a:hover:after {
  width: 100%;
  color: black;
}
.title-subs{

}

.show-subs {
  position: relative;
  border: 1px solid white;
  box-shadow: 10px 10px 10px 0 rgba(22,22,22,0.08);
  margin: 2%;
  padding-bottom: 3%;
  height: 55%;
  width: 28%;

}

.specific-sub{
  max-width: 50%;
  max-height: 50%
}
.mySlides {
  width: 100%;
  height: 90%;
}

.about{

  padding-top: 4%;
  padding-bottom: 3%;
  border-bottom: 1px solid grey;

}


.mySlides{
  transition: width 2s;
  -webkit-transition: width 2s;
}
.products-page {
  border: 1px solid white;
  box-shadow: 10px 10px 10px 0 rgba(22,22,22,0.08);
  position: relative;
  margin: 2%;
  padding-bottom: 3%;
  height: 60%;
  width: 28%;
}

.products-image{
  max-width: 40%;
  max-height: 40%;
}

.products-page-image {
  max-width: 100%;
  max-height: 100%;
}

.que  {
  margin-top: 20%;
}

.about-title {
  color: white;
  text-align: center;
}

.about-subtitle{
  color:#76323F;
  text-align: center;
}

.product {
  float: right;
  max-width: 40%

}
