*{
  background-image: url(./images/background);
}

body {

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
  margin-bottom: 0;
}

.nav > li > a {
  color: black;
}

.nav > li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -87px;
}

.logo-image {
  height: 65%;
  width: 70%;
  margin-left: 15%;
}

.nav > .li-logout {
  padding: 7px;
}
#sub_footer {
  text-align: center;
}

.subbox {
  text-align: center;
}

.sub-title, .sub-now{
  text-align: center;
}

.sub-now{
  padding-top: 10%;

}
.sub-show{
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
  border: 1px solid black;
}
