<div class="container products-container">
  <div class="row">
    <h2> IronChef is a subscription based system for professional chefs, line cooks, and everyday at home chefs.</h2>
    <p>Based on your interests we will personalize the box we send you. Every two months IronChef will send you a package of differnet items to take your cooking to a whole new level. We have items for all skill levels with subscription service. Discover a whole side of your culinary skills that you never knew you had! Try your hand at baking, foods of the world, cooking with your family, using the tools that your favorite chef's use, and if you feel bold we can surprise you all together!</p>
