<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/subscriptions" method="post" >
        <div class="form-group">
          <label for="name">Title</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description-subscription" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="subTier">Subscription Tier</label>
          <select name="tier" id="tier">
          
          </select>
        </div>
          <button type="submit">Add Subscription</button>
    </form>
    </div>
  </div>
</div>
