<div class="container products-container">
  <div class="row">
    <div class="col-sm-2">
      <div class="col-sm-10">
      <h1><%= products.name %></h1>
      <h2 class="products-category"><%= products.category %></h2>
      <p class="products-description"><%= products.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="products-image" src="<%= products.imageUrl %>">
    </div>
  </div>
</div>
</div>
